.sldr-app-before,
.sldr-app-after {
  margin: 0 !important;
}

.sldr-app-before figcaption,
.sldr-app-after figcaption {
  border: 1px solid #c0c0c0;
  border-radius: 12px;
  opacity: 0.8;
  padding: 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 24px;
  background: #fff;
  color: #2e3452;
  font-size: 12px;
  width: 100px;
  text-align: center;
}

.sldr-label-dark {
  background: #282828 !important;
  color: #fff !important;
  border: 1px solid #282828 !important;
}

.sldr-app-before figcaption {
  left: 12px;
}

.slidr-app-first {
  margin: 0px !important;
}

.sldr-app-after figcaption {
  right: 12px;
}

.sldr-app-slider-container {
  outline: none;
}

.sldr-app-slider-container img {
  max-width: 100%;
}

.sldr-app-slider-container:focus {
  box-shadow: none;
}
.sldr-app-slider-container-parent {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
}
.sldr-app-slider-label-container {
  display: flex;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.sldr-app-slider-label-container div {
  display: block !important;
  flex-basis: 50%;
  font-size: 18px !important;
}
.items-center {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.items-start {
  align-items: flex-start;
}
.text-black {
  color: #000 !important;
}
.text-white {
  color: #fff !important;
}
.sldr-padding {
  padding-top: var(--slider-padding-top, 0px);
  padding-bottom: var(--slider-padding-bottom, 0px);
}
.__rcs-handle-arrow {
  display: block !important;
}

.__rcs-handle-line {
  display: block !important;
}

.__rcs-handle-button {
  width: 50px !important;
  height: 50px !important;
}

.sldr-app-slider-container-parent button {
  box-shadow: none !important;
}

.bas-max-height {
  max-height: 550px !important;
}

/** slider label */

.sldr-label-outside-label {
  color: var(--default-label-color) !important;
}

.sldr-label-default {
  background-color: var(--default-label-background-color);
  color: var(--default-label-color);
  padding: 7px 12px;
  border-radius: 3.5px;
  text-align: center;
  position: absolute;
  line-height: 1 !important;
  margin: 0px !important;
  font-size: 13px !important;
}

.sldr-label-position-left-bottom {
  left: 10px;
  bottom: 10px;
}

.sldr-label-position-right-top {
  right: 10px;
  top: 10px;
}

.sldr-label-position-left-top {
  left: 10px;
  top: 10px;
}

.sldr-label-position-right-bottom {
  right: 10px;
  bottom: 10px;
}

.sldr-label-position-left-center {
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.sldr-label-position-right-center {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.sldr-label-position-left-diagonal {
  left: 10px;
  bottom: 10px;
}

.sldr-label-position-right-diagonal {
  right: 10px;
  top: 10px;
}

.sldr-label-img-container {
  display: flex;
  width: 100%;
  height: 100%;
}

/** slider minimal handle */

.sldr-minimal-handle {
  display: flex;
  height: 100%;
  cursor: ew-resize;
}

.sldr-minimal-handle--portrait {
  width: 100%;
}

.sldr-minimal-handle-divider {
  display: block !important;
  background-color: var(--default-handle-color) !important;
}

.sldr-minimal-handle-divider--horizontal {
  width: 6px;
}

.sldr-minimal-handle-divider--portrait {
  width: 100%;
  height: 6px;
}

/** slider skeleton handle */

.sldr-skeleton-handle {
  display: flex;
  gap: 5px;
  align-items: center;
  height: 100%;
  cursor: ew-resize;
}

.sldr-skeleton-handle--portrait {
  width: 100%;
  flex-direction: column;
}

.sldr-skeleton-handle-divider {
  display: block !important;
  background-color: var(--default-handle-color) !important;
}

.sldr-skeleton-handle-divider--horizontal {
  width: 2px;
  height: 100%;
}

.sldr-skeleton-handle-divider--portrait {
  width: 100%;
  height: 2px;
}

.sldr-skeleton-handle .sldr-skeleton-arrow-icon path {
  stroke: var(--default-handle-color) !important;
}

.sldr-skeleton-arrow-direction-left {
  transform: rotate(0deg);
}

.sldr-skeleton-arrow-direction-right {
  transform: rotate(180deg);
}

.sldr-skeleton-arrow-direction-up {
  transform: rotate(90deg);
}

.sldr-skeleton-arrow-direction-down {
  transform: rotate(270deg);
}

/** slider solid handle */

.sldr-handle-solid-handle {
  display: flex;
  height: 100%;
  position: relative;
  cursor: ew-resize;
}

.sldr-solid-handle--portrait {
  width: 100%;
}

.sldr-handle-solid-divider {
  display: block !important;
  background-color: var(--default-handle-color) !important;
}

.sldr-handle-solid-divider--horizontal {
  width: 2px;
  height: 100%;
}

.sldr-handle-solid-divider--portrait {
  width: 100%;
  height: 2px;
}

.sldr-handle-solid-button {
  position: absolute;
  height: 48px;
  width: 48px;
  background-color: var(--default-handle-color) !important;
  border-radius: 50%;
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;
}

.sldr-handle-solid-button--horizontal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sldr-handle-solid-button--portrait {
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}

.sldr-handle-solid-handle .sldr-skeleton-arrow-icon path {
  stroke: var(--default-arrow-color) !important;
}

/** slider modern handle */

.sldr-modern-handle {
  display: flex;
  height: 100%;
  position: relative;
  cursor: ew-resize;
}

.sldr-modern-handle--portrait {
  width: 100%;
}

.sldr-modern-handle-divider {
  display: block !important;
  background-color: var(--default-handle-color) !important;
}

.sldr-modern-handle-divider--horizontal {
  width: 2px;
  height: 100%;
}

.sldr-modern-handle-divider--portrait {
  width: 100%;
  height: 2px;
}

.sldr-modern-handle-button {
  position: absolute;
  height: 60px;
  width: 18px;
  background-color: var(--default-handle-color) !important;

  display: flex;
  gap: 2px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}

.sldr-modern-handle-button--horizontal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sldr-modern-handle-button--portrait {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}
